# Terraform
.terraform/
.terraform.lock.hcl
.terraform.tfstate.*
terraform.tfstate
terraform.tfstate.*
terraform.tfvars

# Packer
packer_cache/
build.pkrvars.hcl
vsphere.pkrvars.hcl
ansible.pkrvars.hcl

# Keys
*.pk
*.pub