http:
  routers:
    coder-https:
      rule: "Host(`{{ CODER_SUBDOMAIN }}.{{ DOMAIN }}`)"
      entryPoints:
        - "websecure"
      tls:
        certResolver: "le"
      middlewares:
        - "redirect-www"
      service: "coder"

    coder-http:
      rule: "Host(`{{ CODER_SUBDOMAIN }}.{{ DOMAIN }}`)"
      entryPoints:
        - "web"
      middlewares:
        - "redirect-http"
        - "redirect-www"
      service: "coder"
  
  middlewares:
    redirect-www:
      redirectRegex:
        regex: "^https?://www\\.(.+)"
        replacement: "https://${1}"
        permanent: "true"

    redirect-http:
      redirectScheme:
        scheme: "https"
        permanent: "true"
  
  services:
    coder:
      loadBalancer:
        servers:
          - url: "http://{{ CODER_SERVER }}"