# vCenter credentials
vsphere_vcenter_server = ""
vsphere_user           = ""
vsphere_password       = ""
vsphere_unverified_ssl = true

# vSphere target configuration
hosts                   = [""]
vsphere_folder          = ""
vsphere_datacenter      = ""
vsphere_cluster         = ""
vsphere_resource_pool   = ""
vsphere_network         = "VM Network"
vsphere_datastore       = ""
vsphere_content_library = "packer-templates"

# Domain configuration
public_email             = ""
public_domain            = ""
internal_ipv4_netmask    = ""
internal_ipv4_gateway    = ""
internal_dns_suffix_list = []
internal_dns_server_list = ["8.8.8.8", "8.8.4.4"]

#
# Coder
#

# VM
coder_vm_cpus         = 8
coder_vm_memory       = 16384
coder_vm_disk_size    = 102400
coder_vm_hostname     = "coder-workspaces"
coder_vm_ipv4_address = ""
# Service
coder_subdomain           = "workspace"
coder_oidc_issuer_url     = ""
coder_oidc_client_id      = ""
coder_oidc_client_secret  = ""
coder_experimental        = true
coder_first_user_username = "sebastiaan"
coder_first_user_email    = ""
coder_first_user_password = "1234"
coder_first_user_trial    = false

#
# Docker infrastructure
#

# VM
infra_vm_cpus         = 2
infra_vm_memory       = 2048
infra_vm_disk_size    = 10240
infra_vm_hostname     = "docker-infra"
infra_vm_ipv4_address = ""
# Service
